environments:
  default:
    values:
      - namespace: comfyui-vllm-omni

---

releases:
  - name: vllm-omni
    namespace: {{ .Values.namespace }}
    chart: ./charts/vllm-omni
    values:
      - ./charts/vllm-omni/values.yaml
      - values/vllm-omni.yaml.gotmpl
